# IntelliJ IDEA
.idea/
*.ipr
*.iws
*.iml

# Модули и настройки IDE
out/

# Логи и временные файлы
*.log
*.class
*.jar

# Кэшированные файлы
.DS_Store
Thumbs.db

# Папка для зависимостей Maven / Gradle
target/
build/

# Прочее
*.swp
reports

.mvn
